@import url("http://hello.myfonts.net/count/34179b");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
@font-face {
  font-family: "MuseoSansCond-100";
  src: url("../fonts/34179B_1_0.eot");
  src: url("../fonts/34179B_1_0d41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34179B_1_0.woff2") format("woff2"),
    url("../fonts/34179B_1_0.woff") format("woff"),
    url("../fonts/34179B_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSansCond-100Italic";
  src: url("../fonts/34179B_9_0.eot");
  src: url("../fonts/34179B_9_0d41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34179B_9_0.woff2") format("woff2"),
    url("../fonts/34179B_9_0.woff") format("woff"),
    url("../fonts/34179B_9_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSansCond-300";
  src: url("../fonts/34179B_0_0.eot");
  src: url("../fonts/34179B_0_0d41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34179B_0_0.woff2") format("woff2"),
    url("../fonts/34179B_0_0.woff") format("woff"),
    url("../fonts/34179B_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSansCond-300Italic";
  src: url("../fonts/34179B_5_0.eot");
  src: url("../fonts/34179B_5_0d41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34179B_5_0.woff2") format("woff2"),
    url("../fonts/34179B_5_0.woff") format("woff"),
    url("../fonts/34179B_5_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSansCond-500";
  src: url("../fonts/34179B_3_0.eot");
  src: url("../fonts/34179B_3_0d41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34179B_3_0.woff2") format("woff2"),
    url("../fonts/34179B_3_0.woff") format("woff"),
    url("../fonts/34179B_3_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSansCond-500Italic";
  src: url("../fonts/34179B_2_0.eot");
  src: url("../fonts/34179B_2_0d41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34179B_2_0.woff2") format("woff2"),
    url("../fonts/34179B_2_0.woff") format("woff"),
    url("../fonts/34179B_2_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSansCond-700";
  src: url("../fonts/34179B_6_0.eot");
  src: url("../fonts/34179B_6_0d41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34179B_6_0.woff2") format("woff2"),
    url("../fonts/34179B_6_0.woff") format("woff"),
    url("../fonts/34179B_6_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSansCond-700Italic";
  src: url("../fonts/34179B_8_0.eot");
  src: url("../fonts/34179B_8_0d41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34179B_8_0.woff2") format("woff2"),
    url("../fonts/34179B_8_0.woff") format("woff"),
    url("../fonts/34179B_8_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSansCond-900";
  src: url("../fonts/34179B_4_0.eot");
  src: url("../fonts/34179B_4_0d41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34179B_4_0.woff2") format("woff2"),
    url("../fonts/34179B_4_0.woff") format("woff"),
    url("../fonts/34179B_4_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSansCond-900Italic";
  src: url("../fonts/34179B_7_0.eot");
  src: url("../fonts/34179B_7_0d41d.eot?#iefix") format("embedded-opentype"),
    url("../fonts/34179B_7_0.woff2") format("woff2"),
    url("../fonts/34179B_7_0.woff") format("woff"),
    url("../fonts/34179B_7_0.ttf") format("truetype");
}
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.animation-slideUp {
  -moz-animation-name: slideUp;
  -webkit-animation-name: slideUp;
  -o-animation-name: slideUp;
  -ms-animation-name: slideUp;
  animation-name: slideUp;
  -moz-animation-duration: 700ms;
  -webkit-animation-duration: 700ms;
  -o-animation-duration: 700ms;
  -ms-animation-duration: 700ms;
  animation-duration: 700ms;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-fadeIn {
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
  -moz-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
body {
  position: relative;
  font-size: 1em;
  line-height: 1.5em;
  box-sizing: border-box;
  color: #fbfbfb;
  background-color: #000707;
  margin: 0;
  font-family: "MuseoSansCond-500", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  background-image: url("../images/base-bg.png");
  background-repeat: repeat;
  background-size: 400px;
  background-position: center top;
}
body * {
  box-sizing: border-box;
}
main {
  position: relative;
  z-index: 6;
}
main:after {
  content: " ";
  display: table;
  clear: both;
}
.content-wrap {
  background-image: url("../images/totem-bg.png");
  background-repeat: repeat-y;
  background-size: 2200px auto;
  background-position: center top -100px;
}
.content-wrap:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1200px) {
  .content-wrap {
    background-size: 2000px auto;
  }
}
@media only screen and (max-width: 1000px) {
  .content-wrap {
    background-size: 1500px auto;
  }
}
@media only screen and (max-width: 800px) {
  .content-wrap {
    background-size: 1000px auto;
  }
}
@media only screen and (max-width: 1600px) {
  .content-wrap {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 1300px) {
  .content-wrap {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 1000px) {
  .content-wrap {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 500px) {
  .content-wrap {
    font-size: 0.65em;
  }
}
.hero-panel,
.hero-panel-half {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  overflow: visible;
}
.hero-panel .hero-detail,
.hero-panel-half .hero-detail {
  width: 100%;
  height: 0;
  overflow: visible;
  overflow-x: hidden;
  z-index: 3;
}
.hero-panel .hero-detail:before,
.hero-panel-half .hero-detail:before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  min-height: 600px;
  content: "";
  width: 55%;
  max-width: 700px;
  background-image: url(../images/head-weeds-right.png);
  background-position: top 0px right;
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 3;
}
@media only screen and (max-width: 600px) {
  .hero-panel .hero-detail:before,
  .hero-panel-half .hero-detail:before {
    display: none;
  }
}
.hero-panel .hero-detail:after,
.hero-panel-half .hero-detail:after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  min-height: 600px;
  content: "";
  width: 55%;
  max-width: 700px;
  background-image: url(../images/head-weeds-left.png);
  background-position: top 0px left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 3;
}
@media only screen and (max-width: 600px) {
  .hero-panel .hero-detail:after,
  .hero-panel-half .hero-detail:after {
    background-size: 110% auto;
    width: 100%;
  }
}
.hero-panel .hero-image,
.hero-panel .hero-vid,
.hero-panel-half .hero-image,
.hero-panel-half .hero-vid {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000 40%);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000 40%);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: 100%;
  height: calc(100% + 200px);
}
.hero-panel .hero-image video,
.hero-panel .hero-vid video,
.hero-panel-half .hero-image video,
.hero-panel-half .hero-vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.hero-panel .hero-image:after,
.hero-panel .hero-vid:after,
.hero-panel-half .hero-image:after,
.hero-panel-half .hero-vid:after {
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../images/dl-pattern-bg-white.png");
  opacity: 0.12;
  background-repeat: repeat;
  background-size: 400px;
  background-position: top center;
  z-index: 2;
}
.hero-panel .hero-vid,
.hero-panel-half .hero-vid {
  top: 0px;
}
.hero-panel .hero-vid:after,
.hero-panel-half .hero-vid:after {
  background-image: url("../images/dl-pattern-bg-white.png");
  opacity: 0.35;
}
.hero-panel .hero-vid:before,
.hero-panel-half .hero-vid:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: block;
  content: "";
  background: -moz-radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.hero-panel .hero-image,
.hero-panel-half .hero-image {
  height: calc(100% + 100px);
  opacity: 0.6;
  top: 60px;
}
.hero-panel .title-wrap,
.hero-panel-half .title-wrap {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 10;
  padding: 100px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  text-align: center;
}
.hero-panel .hero-pane,
.hero-panel-half .hero-pane {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .hero-panel .hero-pane,
  .hero-panel-half .hero-pane {
    font-size: 0.7em;
  }
}
.hero-panel .hero-pane.splash,
.hero-panel-half .hero-pane.splash {
  margin-top: 10px;
}
.hero-panel .hero-pane img,
.hero-panel-half .hero-pane img {
  width: 70%;
  min-width: 260px;
  max-width: 420px;
  display: block;
  margin: 0px auto;
  padding: 20px 0 10px 0;
  -webkit-filter: drop-shadow(0 0 50px rgba(0, 255, 255, 0.9));
  -moz-filter: drop-shadow(0 0 50px rgba(0, 255, 255, 0.9));
  -ms-filter: drop-shadow(0 0 50px rgba(0, 255, 255, 0.9));
  -o-filter: drop-shadow(0 0 50px rgba(0, 255, 255, 0.9));
  filter: drop-shadow(0 0 50px rgba(0, 255, 255, 0.9));
}
.hero-panel .hero-pane .hp-panel,
.hero-panel-half .hero-pane .hp-panel {
  width: 65%;
  max-width: 420px;
  min-width: 260px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}
.hero-panel .hero-pane .hp-panel.details,
.hero-panel-half .hero-pane .hp-panel.details {
  background-color: rgba(2, 15, 15, 0.75);
  color: #fff;
  margin: 0 auto 10px auto;
  font-family: "MuseoSansCond-900", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  padding: 10px;
  line-height: 1em;
}
.hero-panel .hero-pane .hp-panel.details span.thin,
.hero-panel-half .hero-pane .hp-panel.details span.thin {
  font-family: "MuseoSansCond-300", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
}
.hero-panel .hero-pane .hp-panel.details span.location,
.hero-panel-half .hero-pane .hp-panel.details span.location {
  color: cyan;
  font-family: "MuseoSansCond-500", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  display: block;
  font-size: 1em;
}
.hero-panel .hero-pane .hp-panel.details span.tag_second,
.hero-panel-half .hero-pane .hp-panel.details span.tag_second {
  font-family: "MuseoSansCond-500", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  display: block;
  font-size: 0.9em;
}
.hero-panel .hero-pane .hp-panel.tag-line,
.hero-panel-half .hero-pane .hp-panel.tag-line {
  max-width: 420px;
  width: 65%;
  min-width: 260px;
  background-color: #fff;
  position: relative;
  z-index: 5;
  color: #020f0f;
  margin: 0 auto;
  font-family: "MuseoSansCond-900", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.7em;
  padding: 0 10px;
}
.hero-panel .hero-pane .splash-link-wrap,
.hero-panel-half .hero-pane .splash-link-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  left: -5px;
  top: 5px;
  width: calc(100% + 10px);
}
.hero-panel .hero-pane .splash-link-wrap a,
.hero-panel-half .hero-pane .splash-link-wrap a {
  flex-grow: 1;
  margin: 5px;
  min-width: calc(50% - 10px);
}
.hero-panel .hero-pane .splash-link-wrap.stacked,
.hero-panel-half .hero-pane .splash-link-wrap.stacked {
  flex-direction: column;
}
.hero-panel .hero-pane .splash-link-wrap.stacked a,
.hero-panel-half .hero-pane .splash-link-wrap.stacked a {
  min-width: calc(100% - 10px);
}
.hero-panel a.scroll-to-content,
.hero-panel-half a.scroll-to-content {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 40px);
  z-index: 10;
  text-align: center;
}
.hero-panel a.scroll-to-content span,
.hero-panel-half a.scroll-to-content span {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url("../images/sprite-sheet7b30.svg");
  background-repeat: no-repeat;
  background-size: 800px 600px;
  background-position: -320px 0px;
}
.hero-panel button#hero-pause-play,
.hero-panel-half button#hero-pause-play {
  width: 40px;
  height: 40px;
  position: absolute;
  border: none;
  bottom: 20px;
  left: 20px;
  z-index: 11;
  overflow: hidden;
  -webkit-appearance: none;
  border-radius: 20px;
  background-color: rgba(2, 15, 15, 0.9);
  outline: 10px solid rgba(0, 204, 204, 0);
  border: none;
  opacity: 0.8;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.hero-panel button#hero-pause-play:hover,
.hero-panel-half button#hero-pause-play:hover {
  opacity: 1;
}
.hero-panel button#hero-pause-play:focus,
.hero-panel-half button#hero-pause-play:focus {
  opacity: 1;
  outline: 4px solid rgba(0, 204, 204, 0.6);
}
.hero-panel button#hero-pause-play .icon,
.hero-panel-half button#hero-pause-play .icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  background-image: url("../images/sprite-sheet7b30.svg");
  background-repeat: no-repeat;
  background-size: 800px 600px;
  background-position: -760px -250px;
}
.hero-panel button#hero-pause-play .icon.play,
.hero-panel-half button#hero-pause-play .icon.play {
  background-position: -760px -210px;
  opacity: 1;
}
.hero-panel button#hero-pause-play .icon.pause,
.hero-panel-half button#hero-pause-play .icon.pause {
  opacity: 0;
}
.hero-panel button#hero-pause-play.playing .icon.play,
.hero-panel-half button#hero-pause-play.playing .icon.play {
  opacity: 0;
}
.hero-panel button#hero-pause-play.playing .icon.pause,
.hero-panel-half button#hero-pause-play.playing .icon.pause {
  opacity: 1;
}
.hero-panel-half {
  min-height: 55vh;
}
@media only screen and (max-width: 1000px) {
  .hero-panel-half {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 600px) {
  .hero-panel-half {
    font-size: 0.5em;
  }
}
.hero-panel-half .hero-image {
  background-position: center center;
}
.hero-panel-half .title-pane {
  width: 100%;
  text-align: left;
}
.hero-panel-half .title-pane h1,
.hero-panel-half .title-pane .stacktext {
  font-size: 6.25em;
  line-height: 0.85em;
  padding: 20px;
  padding-bottom: 40px;
  width: 75%;
  display: block;
  max-width: 1170px;
  margin: 80px auto 0 auto;
  border-bottom: 4px solid #fff;
  font-family: "MuseoSansCond-900", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.02em;
  text-shadow: 0 0 30px rgba(0, 255, 255, 0.5);
  text-transform: uppercase;
  text-align: center;
}
.hero-panel-half .title-pane h1 span.l-break,
.hero-panel-half .title-pane .stacktext span.l-break {
  display: block;
}
@media only screen and (max-width: 900px) {
  .hero-panel-half .title-pane h1,
  .hero-panel-half .title-pane .stacktext {
    padding: 20px 10px;
    border-bottom: 2px solid #fff;
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 500px) {
  .hero-panel-half .title-pane h1,
  .hero-panel-half .title-pane .stacktext {
    width: calc(100% - 20px);
  }
}
.hero-panel-half .title-pane.article-title h1,
.hero-panel-half .title-pane.article-title .stacktext {
  font-size: 5em;
}
.hero-panel-half .title-pane.article-title h1 span.pre-t,
.hero-panel-half .title-pane.article-title h1 span.post-t,
.hero-panel-half .title-pane.article-title .stacktext span.pre-t,
.hero-panel-half .title-pane.article-title .stacktext span.post-t {
  font-size: 0.4em;
  display: block;
  line-height: 1.3em;
  font-family: "MuseoSansCond-700", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 0;
}
.hero-panel-half .title-pane.article-title h1 span.post-t,
.hero-panel-half .title-pane.article-title .stacktext span.post-t {
  padding-top: 3px;
}
.hero-panel-half .title-pane .article-meta {
  width: 100%;
  max-width: 760px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.hero-panel-half .title-pane .article-meta a,
.hero-panel-half .title-pane .article-meta time {
  display: inline-block;
  margin: 10px 0 0 0;
  background-color: rgba(2, 15, 15, 0.9);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px 9px 20px;
  font-size: 1.2em;
  line-height: 1em;
  color: #fff;
}
@media only screen and (max-width: 900px) {
  .hero-panel-half .title-pane .article-meta a,
  .hero-panel-half .title-pane .article-meta time {
    padding: 6px 15px 4px 15px;
    margin: 5px 5px 0 5px;
  }
}
@media only screen and (max-width: 600px) {
  .hero-panel-half .title-pane .article-meta a,
  .hero-panel-half .title-pane .article-meta time {
    font-size: 1.6em;
  }
}
.hero-panel-half .title-pane .article-meta a span,
.hero-panel-half .title-pane .article-meta time span {
  font-family: "MuseoSansCond-300", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #7263ff;
}
.hero-panel-half .title-pane .article-meta time {
  margin-left: 20px;
}
@media only screen and (max-width: 900px) {
  .hero-panel-half .title-pane .article-meta time {
    margin-left: 5px;
  }
}
.hero-panel-half .title-pane .article-meta a {
  font-family: "MuseoSansCond-900", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #020f0f;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative;
}
.hero-panel-half .title-pane .article-meta a:before {
  position: absolute;
  display: block;
  top: 20%;
  left: 0px;
  content: "";
  height: 60%;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  -moz-transform: translateX(-25%) rotate(-45deg);
  -webkit-transform: translateX(-25%) rotate(-45deg);
  -o-transform: translateX(-25%) rotate(-45deg);
  -ms-transform: translateX(-25%) rotate(-45deg);
  transform: translateX(-25%) rotate(-45deg);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: -1;
}
.hero-panel-half .title-pane .article-meta a:hover,
.hero-panel-half .title-pane .article-meta a:focus-visible {
  background-color: cyan;
  color: #020f0f;
}
.hero-panel-half .title-pane .article-meta a:hover:before,
.hero-panel-half .title-pane .article-meta a:focus-visible:before {
  background-color: cyan;
  -moz-transform: translateX(-35%) rotate(-45deg);
  -webkit-transform: translateX(-35%) rotate(-45deg);
  -o-transform: translateX(-35%) rotate(-45deg);
  -ms-transform: translateX(-35%) rotate(-45deg);
  transform: translateX(-35%) rotate(-45deg);
}
.hero-panel-half .title-pane .article-meta .bc-prefix {
  display: inline-block;
  color: #020f0f;
  font-family: "MuseoSansCond-300", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-right: 0.2em;
  margin-left: -5px;
}
.hero-panel-half.news h1 {
  text-shadow: 0 0 30px rgba(160, 150, 255, 0.5);
}
.hero-panel-half.news .hero-image:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: linear-gradient(
    135deg,
    rgba(160, 150, 255, 0.8) 0%,
    rgba(0, 255, 255, 0.2) 100%
  );
}
.hero-panel-half.news .hero-image:after {
  opacity: 0.3;
  background-image: url("../images/dl-pattern-bg-white.png");
}
.hero-panel-half.news .title-pane .article-meta a:hover,
.hero-panel-half.news .title-pane .article-meta a:active,
.hero-panel-half.news .title-pane .article-meta a:focus {
  background-color: #a096ff;
  color: #020f0f;
}
.hero-panel-half.news .title-pane .article-meta a:hover:before,
.hero-panel-half.news .title-pane .article-meta a:active:before,
.hero-panel-half.news .title-pane .article-meta a:focus:before {
  background-color: #a096ff;
}
.hero-panel-half.info-section-header {
  overflow: visible;
  min-height: 40vh;
}
.hero-panel-half.info-section-header h1 .info-prefix {
  display: block;
  font-size: 0.4em;
  line-height: 1.1em;
  font-family: "MuseoSansCond-700", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0em;
}
.hero-panel-half.info-section-header .hero-image {
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000 50%);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #000 50%);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: 100%;
  height: calc(100% + 200px);
}
.hero-panel-half.info-section-header .title-wrap {
  padding-bottom: 50px;
}
.hero-panel-half.info-section-header .title-pane .article-meta a:hover,
.hero-panel-half.info-section-header .title-pane .article-meta a:active,
.hero-panel-half.info-section-header .title-pane .article-meta a:focus {
  background-color: cyan;
}
.hero-panel-half.info-section-header .title-pane .article-meta a:hover:before,
.hero-panel-half.info-section-header .title-pane .article-meta a:active:before,
.hero-panel-half.info-section-header .title-pane .article-meta a:focus:before {
  background-color: #a096ff;
}
footer {
  padding: 40px 0 250px 0;
  position: relative;
  overflow: hidden;
  z-index: 5;
  margin-top: 60px;
}
footer:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 900px) {
  footer {
    padding: 30px 0 145px 0;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 500px) {
  footer {
    padding: 30px 0 70px 0;
  }
}
footer .partner-strip {
  padding: 40px 0;
  background-color: rgba(0, 7, 7, 0.6);
}
footer .partner-strip .partner-layout {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 900px) {
  footer .partner-strip .partner-layout {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  footer .partner-strip .partner-layout {
    width: 80%;
  }
}
@media only screen and (max-width: 400px) {
  footer .partner-strip .partner-layout {
    width: 100%;
  }
}
footer .partner-strip a.partner-link {
  display: inline-block;
  width: 14%;
  color: #fff;
  padding: 0 5px;
}
@media only screen and (max-width: 600px) {
  footer .partner-strip a.partner-link {
    width: 30%;
  }
}
footer .partner-strip a.partner-link img {
  display: block;
  width: 100%;
}
footer .partner-strip .partner-break {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 20px 0;
}
footer .partner-strip h2.partner-title {
  font-size: 1.3em;
  font-family: "MuseoSansCond-900", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgba(160, 150, 255, 0.8);
  margin: 20px auto;
  text-transform: uppercase;
  text-align: center;
}
footer .partner-strip h2.partner-title a {
  display: inline-block;
  color: rgba(160, 150, 255, 0.8);
  text-decoration: none;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -ms-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}
footer .partner-strip h2.partner-title a:hover,
footer .partner-strip h2.partner-title a:active,
footer .partner-strip h2.partner-title a:focus {
  color: #a096ff;
}
footer ul.social-links {
  margin: 40px auto;
  text-align: center;
}
footer .footer-nav {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 600px) {
  footer .footer-nav {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    float: none;
  }
}
footer .footer-nav ul {
  display: block;
  width: 100%;
}
footer .footer-nav ul li {
  display: block;
  width: 50%;
  padding: 0 0 0 30px;
  float: left;
  font-size: 1.6em;
}
@media only screen and (max-width: 900px) {
  footer .footer-nav ul li {
    font-size: 1.4em;
    padding: 0 0 0 20px;
  }
}
@media only screen and (max-width: 600px) {
  footer .footer-nav ul li {
    line-height: 1.4em;
    padding: 0 10px 10px 10px;
    text-align: center;
  }
}
footer .footer-nav ul li a {
  text-transform: uppercase;
  color: #a1a6ff;
  font-family: "MuseoSansCond-900", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.4em;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -ms-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}
footer .footer-nav ul li a:hover,
footer .footer-nav ul li a:active,
footer .footer-nav ul li a:focus {
  color: #fff;
}
footer .footer-nav ul li:nth-of-type(1) a,
footer .footer-nav ul li:nth-of-type(2) a {
  color: #1ffbff;
}
footer .footer-nav ul li:nth-of-type(1) a:hover,
footer .footer-nav ul li:nth-of-type(1) a:active,
footer .footer-nav ul li:nth-of-type(1) a:focus,
footer .footer-nav ul li:nth-of-type(2) a:hover,
footer .footer-nav ul li:nth-of-type(2) a:active,
footer .footer-nav ul li:nth-of-type(2) a:focus {
  color: #fff;
}
footer .footer-nav ul li:nth-of-type(3) a,
footer .footer-nav ul li:nth-of-type(4) a {
  color: #39eaff;
}
footer .footer-nav ul li:nth-of-type(3) a:hover,
footer .footer-nav ul li:nth-of-type(3) a:active,
footer .footer-nav ul li:nth-of-type(3) a:focus,
footer .footer-nav ul li:nth-of-type(4) a:hover,
footer .footer-nav ul li:nth-of-type(4) a:active,
footer .footer-nav ul li:nth-of-type(4) a:focus {
  color: #fff;
}
footer .footer-nav ul li:nth-of-type(5) a,
footer .footer-nav ul li:nth-of-type(6) a {
  color: #58d6ff;
}
footer .footer-nav ul li:nth-of-type(5) a:hover,
footer .footer-nav ul li:nth-of-type(5) a:active,
footer .footer-nav ul li:nth-of-type(5) a:focus,
footer .footer-nav ul li:nth-of-type(6) a:hover,
footer .footer-nav ul li:nth-of-type(6) a:active,
footer .footer-nav ul li:nth-of-type(6) a:focus {
  color: #fff;
}
footer .footer-nav ul li:nth-of-type(7) a,
footer .footer-nav ul li:nth-of-type(8) a {
  color: #79c1ff;
}
footer .footer-nav ul li:nth-of-type(7) a:hover,
footer .footer-nav ul li:nth-of-type(7) a:active,
footer .footer-nav ul li:nth-of-type(7) a:focus,
footer .footer-nav ul li:nth-of-type(8) a:hover,
footer .footer-nav ul li:nth-of-type(8) a:active,
footer .footer-nav ul li:nth-of-type(8) a:focus {
  color: #fff;
}
footer .footer-nav ul li:nth-of-type(9) a,
footer .footer-nav ul li:nth-of-type(10) a {
  color: #89b6ff;
}
footer .footer-nav ul li:nth-of-type(9) a:hover,
footer .footer-nav ul li:nth-of-type(9) a:active,
footer .footer-nav ul li:nth-of-type(9) a:focus,
footer .footer-nav ul li:nth-of-type(10) a:hover,
footer .footer-nav ul li:nth-of-type(10) a:active,
footer .footer-nav ul li:nth-of-type(10) a:focus {
  color: #fff;
}
footer .footer-nav ul li:nth-of-type(11) a,
footer .footer-nav ul li:nth-of-type(12) a {
  color: #a1a6ff;
}
footer .footer-nav ul li:nth-of-type(11) a:hover,
footer .footer-nav ul li:nth-of-type(11) a:active,
footer .footer-nav ul li:nth-of-type(11) a:focus,
footer .footer-nav ul li:nth-of-type(12) a:hover,
footer .footer-nav ul li:nth-of-type(12) a:active,
footer .footer-nav ul li:nth-of-type(12) a:focus {
  color: #fff;
}
footer .festival-details {
  width: 50%;
  float: left;
  padding: 0 30px;
  font-size: 0.8em;
}
@media only screen and (max-width: 900px) {
  footer .festival-details {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 600px) {
  footer .festival-details {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    clear: both;
    float: left;
    font-size: 0.8em;
  }
}
footer .festival-details .tagline-box {
  max-width: 400px;
}
@media only screen and (max-width: 600px) {
  footer .festival-details .tagline-box {
    margin: 0 auto;
    max-width: 300px;
  }
}
footer .festival-details p.dates {
  font-family: "MuseoSansCond-700", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: cyan;
}
footer .festival-details p.dates strong {
  color: #fff;
  display: block;
  font-family: "MuseoSansCond-900", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
}
footer .festival-details p.dates .line-break {
  display: block;
  font-family: "MuseoSansCond-300", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: normal;
}
footer .festival-details p.small-details {
  font-size: 1.2em;
  text-transform: uppercase;
}



footer .dl-dog-detail {
  display: block;
  width: 600px;
  position: absolute;
  left: calc(50% - 300px);
  height: 500px;
  bottom: -280px;
  -webkit-transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transform: translateY(300px);
  -webkit-transform: translateY(300px);
  -o-transform: translateY(300px);
  -ms-transform: translateY(300px);
  transform: translateY(300px);
  opacity: 0;
  background-image: url(../images/dl-dog.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  will-change: transform;
  -webkit-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.6));
  -moz-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.6));
  -ms-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.6));
  -o-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.6));
}
@media only screen and (max-width: 900px) {
  footer .dl-dog-detail {
    width: 400px;
    left: calc(50% - 200px);
    height: 300px;
    bottom: -160px;
    -moz-transform: translateY(170px);
    -webkit-transform: translateY(170px);
    -o-transform: translateY(170px);
    -ms-transform: translateY(170px);
    transform: translateY(170px);
  }
}
@media only screen and (max-width: 500px) {
  footer .dl-dog-detail {
    width: 310px;
    left: calc(50% - 155px);
    height: 240px;
    bottom: -130px;
    -moz-transform: translateY(155px);
    -webkit-transform: translateY(155px);
    -o-transform: translateY(155px);
    -ms-transform: translateY(155px);
    transform: translateY(155px);
  }
}
footer .dl-dog-detail img {
  width: 100%;
}
footer.woof .dl-dog-detail {
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
footer .say-hello {
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 50px;
  left: 0px;
}
.footer-detailing-back {
  width: 100%;
  height: 0;
  overflow: visible;
  overflow-x: hidden;
  z-index: 1;
}
.footer-detailing-back .fade {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50vh;
  background: linear-gradient(0deg, #000707 0%, rgba(0, 7, 7, 0) 100%);
  z-index: 1;
}
.footer-detailing-back:before {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh;
  content: "";
  width: 50%;
  max-width: 500px;
  background-image: url(../images/pillar-foot-right.png);
  background-position: bottom right -40px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 2;
}
.footer-detailing-back:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100vh;
  content: "";
  width: 50%;
  max-width: 500px;
  background-image: url(../images/pillar-foot-left.png);
  background-position: bottom left -40px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 2;
}
.footer-detailing-front {
  width: 100%;
  height: 0;
  overflow: visible;
  overflow-x: hidden;
  z-index: 3;
}
.footer-detailing-front:before {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh;
  content: "";
  width: 70%;
  max-width: 800px;
  background-image: url(../images/foot-weeds-right.png);
  background-position: bottom left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 3;
}
@media only screen and (max-width: 600px) {
  .footer-detailing-front:before {
    width: 100%;
    background-size: 120% auto;
    background-position: bottom right;
  }
}
.footer-detailing-front:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100vh;
  content: "";
  width: 80%;
  max-width: 1000px;
  background-image: url(../images/foot-weeds-left.png);
  background-position: bottom right;
  background-size: 100% auto;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 3;
}
@media only screen and (max-width: 600px) {
  .footer-detailing-front:after {
    display: none;
  }
}